[Unit]
Description=Team Sketch running on Ubuntu

[Service]
WorkingDirectory=/home/davidtimovski/team-sketch
ExecStart=/snap/bin/dotnet /home/davidtimovski/team-sketch/TeamSketch.Web.dll
Restart=always
# Restart service after 10 seconds if dotnet service crashes
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-team-sketch
User=davidtimovski
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
