Package: team-sketch
Version: 0.9.0
Section: devel
Priority: optional
Architecture: armhf
Depends: libc6, libc6, libgcc-s1, libicu74, libssl3, libstdc++6, zlib1g
Maintainer: David Timovski
Homepage: https://www.davidtimovski.com/team-sketch
Description: Sketch with your friends.
Copyright: 2021-2024 David Timovski
