[Desktop Entry]
Name=Team Sketch
Comment=Sketch with your friends
Icon=team-sketch
Exec=team-sketch
StartupWMClass=team-sketch
Terminal=false
Type=Application
Categories=Art;
GenericName=Team Sketch
Keywords=team; sketch;